body {
    margin: 0;
    background: #ccc;
}

.wrapper {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
}

img {
    object-fit: cover;
}

@media screen and (max-width: 610px) {
    .wrapper {
        padding: 40px 30px;
    }
}
@media screen and (max-width: 320px) {
    .wrapper {
        padding: 40px 25px;
    }
}

/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */
header {
    background: orange;
    height: 100px;
}

.header-container {
    display: flex;
}

.site-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    max-width: 280px;
    min-width: 80px;
    height: 100px;
    background: #666;
    margin-right: auto;
    text-align: center;
}

.site-logo a {
    text-decoration: none;
}

.site-logo a:hover {
    background: coral;
}

.site-logo h1 {
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8em;
    color: orange;

    margin: 0 20px;
}

.desktop-menu {
    height: 100px;
    display: flex;
    align-items: center;
}

.desktop-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 0 20px;
}

.desktop-menu ul li {
    height: 100px;
    display: flex;
}

.desktop-menu ul li a {
    padding: 0 30px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    max-width: 160px;

    transition-duration: 0.3s;
}

.desktop-menu ul li a:hover {
    background: rgb(255, 183, 88);
    color: rgb(38, 74, 192);
}


@media screen and (max-width: 700px) {
    .desktop-menu ul {
        margin: 0;
    }
    .desktop-menu ul li a {
        padding: 0 25px;
    }
}

.icon-container {
    display: none;
    width: 100%;
}

.icon-container button {
    border: 0;
    background: orange;
    color: green;
    width: 100%;
}

.icon-container button {
    border: 0;
    background: orange;
    color: white;
    width: 100%;
}

.icon-container button:hover {
    background: coral;
}

@media screen and (max-width: 610px) {
    .desktop-menu {
        display: none;
    }
    .icon-container {
        display: flex;
    }
    .search-icon {
        display: none;
    }
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background: grey;
    transition: 0.3s;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.mobile-menu ul {
    list-style: none;
}

.mobile-menu a {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    font-size: 1em;
    text-decoration: none;
}

.closed {
    transform: translate(300px, 0);
    position: fixed;
}


/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */

.hero {
    background: 
        linear-gradient(
        180deg, 
        rgba(0,0,0, 0.5),
        rgba(0,0,0, 0) 50% ),
        url('img/simon-migaj-421505-unsplash.jpg')
    ;
    background-size: cover;
    background-position: center;

    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 20px;
    background: rgba(25, 25, 25, 0.25);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: darkorange;
    font-size: 1.6em;
}

.hero-content p {
    color: #ccc;
    font-size: 1.2em;
}

.hero-content a {
    margin-top: 10px;
    font-size: 1.2em;
    /* color: rgb(143,255,84); */
    padding: 10px;

    border: 2px rgb(143,255,84) solid;
    border-radius: 25px;
}

.hero-content a:hover{
    color: white;
    text-decoration: none;
    background: rgb(200, 100, 0, 0.5);
    border: 2px white dashed;
    transition: 0.2s;
}

/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */
main {
    padding: 80px 0;
    background: #eee;
    color: #444;
    font-family: 'Merriweather', serif;
}

main h2 {
    font-size: 1.8em;
    color: darkorange;
    margin-bottom: 25px;
    padding-left: 8px;
    border-left: 8px solid;
}

main .wrapper {
    max-width: 800px;
}

.main-container{
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 600px;
}

/* For Packages page only */

.package {
    display: flex;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;

    border: 2px solid;
    transition: 0.5s;
    background: lightgrey;
}

.package:hover {
    transform: translate(0, -15px);
    box-shadow: 5px 10px 2px 2px #888;
}

.package img {
    width: 300px;
    height: 200px;
}

.default-img {
    transition: 0.5s;
    position: absolute;
}

.package-info {
    margin: 0 30px;
}

#airplane {
    width: 200px;
    height: 150px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    #airplane {
        width: 240px;
        height: 160px;
    }
}

/* For Register Page */
input {
    font-family: 'Merriweather', serif;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align-last: justify;
}

form label {
    margin: 10px 0;
}

.centered {
    display: flex;
    justify-content: center;
}

textarea {
    width: 70vw;
    max-width: 750px;
    min-width: 230px;
	height: 150px;
	border: 3px solid #cccccc;
	padding: 5px;
    font-family: 'Merriweather', serif;
    line-height: 1.4em;
}

#submit {
    height: 30px;
    color: orange;
    font-weight: bold;
    border: 3px solid orange;
    padding: 0 15px;
    border-radius: 20px;
    text-align-last: center;
}

#submit:hover {
    border: 3px solid lightslategrey;
    background: orange;
    color: lightslategrey;
}

#error-display {
    color: #c14003;
}

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */
footer {
    margin-top: -20px;
    height: 100px;
    background: orange;
}