body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    height: 1000px;

    margin: 0 auto;

    background-color: grey;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4em;

    background: 
    linear-gradient(
    180deg, 
    rgba(0,0,0,0.25),
    rgba(0,0,0,0.25)),
    url('keith-hardy-214817-unsplash.jpg');
    background-position: 50% 45%;
}

header {
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(247,226,156);
    font-size: 0.8em;

    margin-top: 50px;
}

.main-content {
    width: 100%;
}

.quote-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(252,188,128);
}

.quote-nav > a {
    display: inline-block;
    padding: 0 1px;
    width: 55px;
    text-align: center;
    border: 2px rgb(139,75,98) solid;

    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: rgb(139,75,98);
    height: 100%;
    
    transition-duration: 0.3s;
}

.quote-nav h2 {
    display: inline-block;
    height: 100%;
}

.quote-nav > a:hover {
    background: rgba(139,75,98,0.8);
    color: white;
    border-color: white;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 20px 60px;

    background: rgb(139,75,98);
}

.quote-container {
    width: 90%;
    display: inline-block;
    background: rgb(234,150,116);
    color: #333;

    padding: 60px;
}

#quote-index {
    height: 28px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    width: 100%;
}

#quote-index p {
    margin: 0;
    text-align: center;
}

#quote {
    height: 200px;
    background: rgba(255,255,255,0.2);
    padding: 10px 30px;
}

#author {
    height: 30px;
    padding: 10px 30px;
}

#author p {
    margin: 0;
}

#twitter-share-button {
    position: absolute;
    margin-left: 10px;
    opacity: 0;
}

#twitter-share-button img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }
    header {
        font-size: 0.7em;
    }
    header h1 {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1.3em;
    }
    .quote-container {
        padding: 60px 40px;
    }
}

@media screen and (max-width: 700px) {
    body {
        padding: 0;
    }
    .main-content {
        width: 100%;
    }
    header h1 {
        padding: 20px 50px;
    }
    #quote {
        height: 220px;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 0.7em;
    }
    #quote {
        height: 260px;
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: 0.6em;
    }
    header h1 {
        padding: 25px;
    }
    .quote-container {
        padding: 60px 0;
    }
    .quote-nav a {
        width: 50px;
    }    
    #author {
        height: 40px;
    }
}

@media screen and (max-width: 400px){
    .quote-nav a {
        width: 40px;
    }    
    #quote {
        height: 300px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 300px){
    .quote-nav a {
        width: 35px;
    }    
    body {
        font-size: 1.2em;
    }
    #quote {
        padding: 10px 15px;
    }
    #author {
        height: 50px;
    }
}

.disappear-left {
    position: relative;
    animation: disappear-left 0.4s;
}
@keyframes disappear-left {
    from { left: 0 } to { left: -100vw; }  
}

.disappear-right {
    position: relative;
    animation: disappear-right 0.4s;
}
@keyframes disappear-right {
    from { right: 0; } to { right: -100vw; }  
}

.appear-right {
    position: relative;
    animation: appear-right 0.4s;
}
@keyframes appear-right {
    from { right: -100vw; } to { right:0; }
}

.appear-left {
    position: relative;
    animation: appear-left 0.4s
}
@keyframes appear-left {
    from { left: -100vw; } to { left:0; }
}
