body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    height: 1000px;

    margin: 0 auto;

    background-color: grey;
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;

    background:
    linear-gradient(
    180deg, 
    rgba(0,0,0,0.25),
    rgba(215,216,122,0.25)),
    url('joanna-nix-384296-unsplash.jpg');
    background-position: 50% 45%;
}

p {
    margin: 10px 0;
}

header {
    font-family: 'Mali', cursive;
    color: #e1e6a4;
    font-size: 0.8em;

    margin-top: 100px;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 20px 60px;

    background: #678848; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.main-content {
    width: 100%;
}

#answer-status {
    height: 20px;
    margin-left: 20px;
}

.quiz-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(225,230,164, 0.7);

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

a {
    display: inline-block;
    padding: 0 1px;
    width: 55px;
    text-align: center;
    border: 2px #678848 solid;

    font-family: 'Mali', cursive;
    text-decoration: none;
    color: #678848;
    height: 100%;
    
    transition-duration: 0.3s;
}

.quiz-nav h2 {
    display: inline-block;
    height: 100%;
}

a:hover {
    background: rgba(103,136,72,0.7);
    color: #e6ece0;
    border-color: #b6bd1c;
}

.question-container {
    width: 90%;
    display: inline-block;
    background: rgba(215,216,122,0.7);
    color: #333;

    padding: 40px 60px;
}

#question-index {
    height: 28px;
    margin: 0 auto;
    padding: 0 0 15px 0;
    width: 100%;
}

#question-index p {
    margin: 0;
    text-align: center;
}

#question {
    height: 290px;
    background: rgba(182,189,28,0.4);
    padding: 10px 30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    border: 3px #678848 solid;
    border-radius: 20px;
    margin: 15px;
    background: #e1e6a4;
    font-family: 'Mali', cursive;
    padding: 0 10px;
    font-size: 0.9em;
    transition-duration: 0.1s;
}

button:hover {
    border-color: #b6bd1c;
    color: #678848;
}

.disabled {
    background: #aaa;
    color: #ccc;
    border-color: #ccc;
}

.disabled:hover {
    background: #aaa;
    border-color: #ccc;
    color: #ccc;
}

@media screen and (max-width: 900px) {
    body {
        padding: 0;
    }
    header {
        font-size: 0.7em;
    }
    header h1 {
        padding: 20px 50px;
    }
    #question {
        height: 320px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1.3em;
    }
    .question-container {
        padding: 60px 40px;
    }
    #question {
        height: 350px;
    }
}

@media screen and (max-width: 700px) {
    body {
        padding: 0;
    }
    .main-content {
        width: 100%;
    }
    header h1 {
        padding: 20px 50px;
    }
    #question {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 0.7em;
    }
    #question {
        height: 500px;
    }
    body {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: 0.6em;
    }
    header h1 {
        padding: 25px;
    }
    .question-container {
        padding: 60px 0;
    }
    .quiz-nav a {
        width: 50px;
    }    
    #question {
        height: 530px;
    }
}

@media screen and (max-width: 400px){
    .quiz-nav a {
        width: 40px;
    }    
    body {
        font-size: 1.2em;
    }
    #question {
        height: 600px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 300px){
    .quiz-nav a {
        width: 35px;
    }    

    #question {
        padding: 10px 15px;
    }
}

.disappear-left {
    position: relative;
    animation: disappear-left 0.5s;
}
@keyframes disappear-left {
    from { left: 0 } to { left: -100vw; }  
}

.disappear-right {
    position: relative;
    animation: disappear-right 0.5s;
}
@keyframes disappear-right {
    from { right: 0; } to { right: -100vw; }  
}

.appear-right {
    position: relative;
    animation: appear-right 0.5s;
}
@keyframes appear-right {
    from { right: -100vw; } to { right:0; }
}

.appear-left {
    position: relative;
    animation: appear-left 0.5s
}
@keyframes appear-left {
    from { left: -100vw; } to { left:0; }
}
